@model URLShortenerUI.Models.Home.URLRegistrationSuccessfulViewModel
@{
    var uriBuilder = new UriBuilder();
    uriBuilder.Scheme = Context.Request.Scheme;
    uriBuilder.Host = Context.Request.Host.Host;
    uriBuilder.Port = Context.Request.Host.Port ?? uriBuilder.Port;
    uriBuilder.Path = Model.ShortURL;
    var url = uriBuilder.Uri;
}


<div>
    <h4>Registration successful</h4>
    <p>Your shortened URL is <a href=@url>@url</a></p>
</div>