@model URLShortenerUI.Models.Home.URLRegistrationSuccessfulViewModel
<div>
    <h4>Registration successful</h4>
    <p>Your shortened URL is <a href=@Model.ShortenedURL>@Model.ShortenedURL</a></p>
</div>